@use "global" as *;

.accordion{
    text-align: left;
}

.accordion__item + .accordion__item{
    margin-top: rem(15);
}

.accordion__header {
    border-radius: rem(3);
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding:rem(18) rem(20);
    font-size: rem(16);
    font-weight: bold;
    @include mq(md) {
        padding:rem(30) rem(45);
    }
}


.accordion__textBox{
    display: flex;
    align-items: flex-start;
    gap: 0 rem(7);
    @include mq(md) {
        gap: 0 rem(7.44);
        align-items:center;
    }
}

.accordion__textBox--start{
    align-items: flex-start;
    gap: 0 rem(9);
    @include mq(md) {
        align-items: flex-start;
        gap: 0 rem(10);
    }
}

.accordion__head{
    display: inline-block; /* グラデーションが適用されやすくするため */
    background: linear-gradient(90deg, #3ACADD 0%, #5A88E5 100%);
    -webkit-background-clip: text;
    background-clip: text; /* 一部のブラウザで必要 */
    -webkit-text-fill-color: transparent;
    color: transparent; /* 他のブラウザでもテキストの透明化を確実にするため */
    
    font-size: rem(20); /* SASSのrem関数を通常のCSSで置き換え */
    font-weight: $medium; /* 変数$mediumが正しく設定されていることを確認 */
    line-height: 1;
    @include mq(md) {
        font-size: rem(27);
    }
}

.accordion__head--color {
    background: none; /* グラデーションを解除 */
    color: #fff; /* テキスト色を白に設定 */
    -webkit-background-clip: border-box; /* クリッピングを解除 */
    background-clip: border-box;
    -webkit-text-fill-color: #fff; /* テキスト色を白に設定 */
}


.accordion__question {
    max-width: 85%; 
    text-align: left;
    font-size: rem(16);
    line-height: 1.45;
    font-weight: $bold;
    padding-top: rem(-10);
    @include mq(md) {
        max-width: rem(733);
        font-size: rem(16);
        line-height: calc(20/16);
        padding-top: 0;
    }

}

.accordion__answer{
    color: $white;
    text-align: left;
    font-size: rem(14);
    font-weight: $medium;
    line-height: calc(22/14);
    max-width: 83%;
    @include mq(md) {
        max-width: rem(429);
        padding-top: rem(5);
    }
}








.accordion__icon {
    font-size: rem(24);
    line-height: 1;
}

.accordion__content {
    display: block; /* デフォルトで block にする */
    max-height: 0; /* 初期状態は高さゼロ */
    overflow: hidden; /* コンテンツが溢れないようにする */
    opacity: 0; /* 初期状態は透明にする */
    padding: 0; /* 初期はパディングもゼロ */
    transition: max-height 0.7s ease, opacity 0.7s ease, padding 0.7s ease; /* アニメーションの設定 */
}

.accordion__item.active .accordion__content {
    max-height: 500px; /* 十分に大きい値を指定。コンテンツの高さに応じて調整可能 */
    opacity: 1; /* 表示する */
    padding: rem(13.5) rem(20) ; /* パディングを元に戻す */
    @include mq(md) {        
        padding: rem(20) rem(45);
    }
}









.accordion__item.active .accordion__content {
    display: block;
}

.accordion__icon,
.accordion__icon span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
}

.accordion__icon {
    background-color:#00C6FF;
    position: relative;
    max-width: rem(16);
    width: 100%;  /* 円の幅 */
    height: rem(16); /* 円の高さ */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    @include mq(md) {
        max-width: 100%;
        width: rem(16);  /* 円の幅 */
        height: rem(16); /* 円の高さ */
    }
}

.accordion__icon span {
    background-color: $white;
    height: rem(1); /* 線の厚み */
    width: 50%; /* 円の中に収まる幅 */
    position: absolute;
    @include mq(md) {
        width: 50%; /* 円の中に収まる幅 */
    }
}

.accordion__icon span:nth-of-type(1) {
    transform: rotate(0deg); /* 横線 */
    visibility: visible;
    opacity: 1;
}

.accordion__icon span:nth-of-type(2) {
    transform: rotate(90deg); /* 縦線 */
    visibility: visible;
    opacity: 1;
}

.accordion__item.active .accordion__icon span:nth-of-type(1) {
    visibility: hidden; /* アコーディオンが開いた時に横線を非表示 */
    opacity: 0;
}

.accordion__item.active .accordion__icon span:nth-of-type(2) {
    transform: rotate(0deg); /* アコーディオンが開いた時に縦線を回転させない */
}
