@use "global" as *;

.contact__container {
    position: sticky;
    top: 0px; /* 画面上部からの距離 */
    max-height: 100vh; /* 画面の80%に制限 */
    overflow-x: auto; /* コンテンツがあふれた場合にスクロール可能に */
    padding: 0 20px;
}


.contact__frame{
    padding-top: rem(10);
}

.contact__wrapper{
    padding-top: rem(10);
}

.contact__wrapper--padding{
    max-width: $max-width;
    margin: 0 auto;
    padding: rem(40) rem(35) rem(80);
}

.contact__box{
    background-image: url('../images/common/contact-sankaku.webp');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: rem(235) rem(140);
    background-color: $white;
    padding: rem(20) 0 rem(30);
}

.contact__head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 rem(10);
}

.contact__title{
    color: #00C6FF;
    font-size: rem(24);
    font-weight: 900;
}

.contact__border{
    width: 22%;
    border-bottom: solid 1px #00C6FF;
}

.contact__form{
    max-width: rem(300);
    margin: rem(10) auto 0;
    padding: 0 rem(10);
}

.contact__frame--padding{
    padding: rem(20) 0 0 0;
}










.btn__top{
    margin-top: 2.5rem;
    text-align: center;
    @include mq(md){
        margin-top: rem(60);
    }
}
    
.btn-submit {
    position: relative;
}
    
.btn-submit__body[type="submit"] {
    font-family: $third-font;
    position: relative;
    display: inline-block;
    text-align: center;
    width: rem(204);
    padding: rem(10) 0;
    color: white;
    font-size: rem(14.71); 
    font-weight: $bold;
    transition: color 0.2s;
    z-index: 1;
    letter-spacing: 0.1em;
    border-radius: rem(45);

    cursor: pointer;
    @include mq(md){
        font-size: rem(15.44); 
        width: 100%;
        padding: rem(15.3) 0;
    }
}
    
.btn-submit:hover::after {
    @include mq("md") {
        transform: scale(1, 1);
        pointer-events: none;
    }
}

// .btn-submit__text {
//     font-family: $third-font;
//     position: absolute;
//     display: inline-block;
//     top: 27%;
//     left: 39%;
//     color: $white;
//     z-index: 2;
//     font-size: rem(14.71); 
//     @include mq(md){
//         font-weight: $bold;
//         font-size: rem(15.44); 
//         top: 29%;
//         left: 44%;
//     }
// }

.btn-submit__text::after {
    content: "";
    position: absolute;
    max-width: rem(40);
    width: 100%;
    height: 100%;
    left: rem(205);
    top: 32%;
    background-image: url(../images/common/subbutton-arrow.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    pointer-events: none;
    width: rem(15);
    height: rem(15);
    z-index: 100;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1); /* ゆっくり加速して止まる動き */
    @include mq(md){
        top: 33%;

        width: rem(16);
        height: rem(16);
    }
}

.btn-submit:hover .btn-submit__text::after {
    transform: translateX(rem(5)); /* rem(5)の部分で移動量を調整 */
}
  
  .btn-submit:hover .btn-submit__arrow::before,
  .btn-submit:hover .btn-submit__arrow::after {
    background-color: transparent;
    pointer-events: none;
  }
  
  .btn-submit__body[disabled] {
    cursor: not-allowed;
  }
  

