@use "global" as *;



.contact__container {
    position: sticky;
    top: 0; /* 画面上部からの距離 */
    height: 100vh; /* 画面の高さ全体を設定 */
    overflow-y: auto; /* コンテンツが溢れた場合に縦スクロールを有効化 */
    padding: 0 20px;
    display: flex; /* 必要に応じてコンテンツを中央揃え */
    flex-direction: column; /* コンテンツを縦方向に整列 */
}



.contact__frame{
    padding-top: rem(10);
}

.contact__wrapper{
    padding-top: rem(10);
}

.contact__wrapper--padding{
    max-width: $max-width;
    margin: 0 auto;
    padding: rem(62) rem(35) rem(60);
}

.contact__box{
    background-image: url('../images/common/contact-sankaku.webp');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: rem(235) rem(140);
    background-color: $white;
    padding: rem(20) 0 rem(35);
    @include mq(md) {
        padding: rem(20) 0 rem(30);
    }
}

.contact__head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 rem(14);
    text-align: center;
    @include mq(md) {
        display: inline-block;
        background-color: #EEFAFF;
        border: solid 1px $white;
        padding: rem(16) rem(16) rem(16) rem(25);
        
    }
}

.contact__head-text{
    color: #00C6FF;
    font-size: rem(24);
    font-weight: 900;
    line-height: calc(28/24);
}

.contact__head-span{
    font-family: $second-font;
    color: #0191FF;
    font-size: rem(33);
    font-weight: $bold;
}

.contact__head-span-color{
    color: #0191FF;
    font-weight: $bold;
}

@media (max-width: 1300px) {
    .contact__br{
        display: none;
    }
}

.contact__title{
    color: #00C6FF;
    font-size: rem(24);
    font-weight: 900;
}

.contact__border {
	border-bottom: solid 1px #00C6FF;
	width: 16.5%;
}

.contact__sentence{
    text-align: left;
    margin-top: rem(9.91);
    padding-left: rem(20);
}

.contact__subtitle{
    color: #000;
    font-size: rem(16);
    font-weight: $medium;
}

.contact__text{
    margin-top: rem(7);
    color: #000;
    font-size: rem(13);
    font-weight: $regular;
}

.contact__form{
    margin-top: rem(11.05);
    padding: 0 rem(20);
}

.contact__frame--padding{
    padding: rem(20) 0 0 0;
}

.contact__phone{
    margin-top: rem(20);
}

.contact__phone--margin{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(0);
    }
}

.btn-submit__body {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    cursor: pointer; /* カーソルをポインターに変更 */
    @include mq(md) {
        max-width: 18.75rem;

    }
}

.btn-submit__body::before {
    background-image: url('../images/common/button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    top: -35%;
    width: 100%;
    height: 175%;
    z-index: -1;
    transition: transform 0.3s ease; /* トランジションを追加 */
}

.btn-submit__body:hover::before {
    transform: scale(1.1); /* マウスオーバーで画像を拡大 */
    pointer-events: none; /* クリックなどのイベントを防止 */
}




.btn__top{
    margin-top: rem(40);
    text-align: center;
}
    
.btn-submit {
    position: relative;
}
    
.btn-submit__body[type="submit"] {
    position: relative;
    z-index: 1;
    padding: rem(20);
    cursor: pointer;
    @include mq(md){
        width: 100%;
        padding: rem(20);
    }
}
    





























