@use "global" as *;

.faq{
    background-image: url('../images/common/faq-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(80) 0;
    @include mq(md) {
        padding: rem(100) 0 rem(80);
    }
}

.faq__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md) {
        max-width: rem(583);
        padding: 0 ;
    }
}

.faq__title{
    color: $white;
    font-size: rem(24);
    font-weight: $bold;
    line-height: calc(43.1/24);
    position: relative;
    @include mq(md) {
        font-size: rem(32);
    }
}

.faq__title span {
    color: #F3F02F;
    font-size: rem(32);
    font-weight: 900;
    @include mq(md) {
        font-size: rem(40);
    }
}

.faq-logo{
    position: absolute;
    top: -12%;
    left: 0;
    right: 0;
    width: rem(364);
    height: rem(40);
    margin: 0 auto;
    @include mq(md) {
        top: -10%;
        width: rem(474);
        height: rem(47);       
    }
}

.fag__accordion{
    margin-top: rem(40);
}