@use "global" as *;




.form__item{
    text-align: left;
}

.form__item + .form__item{
    margin-top: rem(9);
}

.form__item label {
    display: block;
    margin-bottom: rem(5);
    font-size: rem(13.35);
    font-weight: $medium;
}

.form__item .required {
    background-color: #E90212;
    color: #fff;
    border-radius: rem(2.38);
    font-size: rem(11);
    padding: rem(2.5) rem(4) rem(3.5);
    font-weight: 900;
    margin-left: rem(10);
}

.form__item input {
    color: #555;
    width: 100%;
    padding:rem(8)  rem(13.5) ;
    border: solid 1px $black;
    font-size: rem(11);
    background-color: $white;
    border-radius: rem(2.38);
    box-sizing: border-box;
    height: rem(31);
    margin-top: rem(8);
}

// /*チェックボックスの指定*/
// $check-fz: rem(13);//フォントサイズ
// $check-size: rem(13);//外枠の幅高さ
// $check-border-cr: #00C6FF;//外枠の色
// $check-bg-cr-inner: #00C6FF;//チェックマークの背景色
// $check-space: rem(5);//チェックマークと文字の距離
// $check-space-betweenRadio: rem(20);//ラジオボタンの間の距離
// $check-weight: 1px;//チェックマークの線の太さ(px)


// [type="checkbox"] {
// 	display: none;

// 	+ span {
// 		display: inline-block;
// 		position: relative;
// 		padding: 0 0 0 calc($check-size + $check-space);
// 		margin: 0 $check-space-betweenRadio 0 0;
// 		font-size: $check-fz;
// 		line-height: 1;
// 		cursor: pointer;
// 		transition: 0.3s ease;

// 		&::before {
// 			position: absolute;
// 			content: "";
// 			top: 50%;
// 			left: 0;
// 			transform: translateY(-50%);
// 			border: 1px solid $check-border-cr;
// 			width: $check-size;
// 			height: $check-size;
// 			display: block;
// 		}

// 		&::after {
// 			opacity: 0;
// 			transition: 0.3s ease;
// 		}
// 	}

// 	&:checked + span {
// 		&::after {
// 			content: "";
// 			position: absolute;
// 			top: 35%;
// 			left: 0;
// 			display: block;
// 			opacity: 1;
// 			/*チェックマークじゃない場合は以下を変更する*/
// 			transform: translateY(-50%) rotate(-45deg);
// 			width: calc($check-size * 0.9);
// 			height: calc($check-size * 0.5);
// 			margin-top: -0.1em;
// 			margin-left: 0.1em;
// 			border-left: $check-weight solid $check-bg-cr-inner;
// 			border-bottom: $check-weight solid $check-bg-cr-inner;

// 		}
// 	}
// }


// .btn-submit__body:hover {
// 	transform: scale(1.05); /* 1.1倍に拡大 */
// 	transition: transform 0.3s ease;
// }

// .btn-submit__body {
// 	align-items: center;
// 	display: flex;
// 	justify-content: center;
// 	margin-top: 1.875rem;
// 	max-width: 18.75rem;
// 	padding: 0;
// 	text-align: center;
// 	width: 100%;
// }

// .btn-submit__body{
// 	position: relative;
// }

// .btn-submit__body::before{
// 	background-image: url("../images/common/button.webp");
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	background-size: contain;
// 	content: "";
// 	position: absolute;
// 	top: -35%;
// 	width: 100%;
// 	height: 175%;
// 	z-index: 1;
// }