@use "global" as *;


.frame{
    margin-top: rem(30);
    @include mq(md) {
        margin-top: rem(0);
    }
}

.frame__text{
    padding: rem(10) 0 rem(5);
}

.frame__text img {
    width: rem(186);
    height: rem(17);
    margin: 0 auto;
    @include mq(md) {
        width: rem(203);
    }
}

.frame__slider{
    padding: rem(20) 0 rem(30);
    @include mq(md) {
        padding: 0;
    }
}