@use "global" as *;


.fv-pc__container{
    position: relative;
    max-width: rem(1220);
    margin: 0 auto;
}



.fv-human{
    position: absolute;
    right: 0;
    top: -9.1%;
    width: rem(324);
    height: rem(702);
    z-index: 1;
}

.fv-pc__inner{
    max-width: rem(1020);
    margin: 0 auto;
    padding: 0 rem(10);
    position: relative;
    z-index: 100;
}

.fv-pc__inner::before{
    background-image: url('../images/common/fv-comment1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    top: rem(-98);
    left: calc(50% - min(50%, 31rem));
    width: 29.75%;
    height: 17.7%;
    z-index: 9999;
}




.fv-pc__price{
    margin-top: rem(-30);
    width: rem(882);
    height: rem(181);
}



.fv-pc__sun{
    margin-top: rem(-30);
    width: rem(564);
    height: rem(348);
}

.fv-pc__title{
    margin-top: rem(20);
    position: relative;
    padding-left: rem(5);
}

.fv-pc__title::before{
    background-image: url('../images/common/fv-comment2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    top: rem(-50);
    right: calc(50% - min(50%, 15rem));
    width: rem(183);
    height: rem(63);
    z-index: 9999;
}

.fv-pc__title img {
    width: rem(443);
    height: rem(135);
}

.fv-pc__content{
    display: flex;
    align-items: end;
    gap: 0 rem(103);
}

.fv-pc__list{
    margin-top: rem(27.87);
    padding-left: rem(5);
    display: flex;
    align-items: center;
    gap: 0 rem(24.27);
}

.fv-pc__item{
    width: rem(133);
    height: rem(133);
}
