@use "global" as *;




.fv-pc__container{
    position: relative;
    background-image: url('../images/common/fv-bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: rem(33.6);
    margin-top: -3.25%;
}

.fv-pc__head{
    position: relative;
    z-index: 100;
    object-fit: contain;
}

.fv-human{
    position: absolute;
    right: 0;
    top: 25%;
    width: rem(449);
    height: rem(514);
    z-index: -1;
}

.fv-pc__inner{
    max-width: rem(1060);
    padding: rem(13) rem(10) 0 rem(30);
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

.fv-pc__inner::before{
    background-image: url('../images/common/fv-comment1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    top: rem(-98);
    left: calc(50% - min(50%, 31rem));
    width: 29.75%;
    height: 17.7%;
    z-index: 9999;
}

.fv-pc__price{
    width: rem(882);
    height: rem(181);
}



.fv-pc__sun{
    margin-top: rem(-30);
    width: rem(564);
    height: rem(348);
}

.fv-pc__title{
    margin-top: rem(20);
    position: relative;
    padding-left: rem(5);
}

.fv-pc__title::before{
    background-image: url('../images/common/fv-comment2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    top: rem(-170);
    right: calc(50% - min(50%, 6.5rem));
    width: 19%;
    height: 114%;
    z-index: 9999;
}

.fv-pc__title img {
    width: rem(443);
    height: rem(135);
}

.fv-pc__list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: rem(-110);
    gap: 0 rem(10);
}

.fv-pc__item{
    width: 17%;
    height: 7%;
}






















.review__content{
    background-color: #D8F6FF;
    margin-top: rem(20);
    padding: rem(40) 0 rem(60);
    @include mq(md) {
        margin-top: rem(40);
        padding: rem(40) 0 rem(76);
    }
}

.review__inner{
    position: relative;
    max-width: rem(1030);
    margin-inline: auto;
}

.review__content-inner{
    max-width: rem(773);
    margin-inline: auto;
}


.review__content-wrapper{
    width: 50%;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, rem(-40));
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
    @include mq(md) {
        bottom: var(--swiper-pagination-bottom, rem(-45));
    }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, rem(6));
    @include mq(md) {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, rem(8));
    }
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #0072FF !important;
}

.swiper-pagination-bullet {
    background: var(--swiper-pagination-bullet-inactive-color, #00C6FF);
}


.review__content-slide {
    opacity: 0.3; /* 左右のスライドを薄くする */
    transform: scale(0.95); /* 左右のスライドを小さくする */
    transition: opacity 0.7s ease, transform 0.7s ease; /* 明示的にトランジション指定 */
    z-index: 0; /* 他のスライドより下に表示 */
    @include mq(md) {
        opacity: 1; /* 左右のスライドを薄くする */
        transform: scale(1); /* 左右のスライドを小さくする */
    }
}
.review__content-slide:not(.review__content-slide-active) {
    opacity: 0.3;
    transform: scale(0.95);
    @include mq(md) {
        opacity: 1; /* 左右のスライドを薄くする */
        transform: scale(1); /* 左右のスライドを小さくする */
    }
}
.review__content-slide-active {
    opacity: 1; /* 中央のスライドは薄くしない */
    transform: scale(1); /* 中央のスライドは小さくしない */
    z-index: 1; /* 中央のスライドを一番上にする */
}
.review__content-slide img {
    height: auto;
    width: 100%;
}
