@use "global" as *;

.header__logo{
    width: rem(172);
    height: rem(26);
    @include mq(md) {
        width: rem(268);
        height: rem(41); 
    }
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 rem(13); 
    height: rem(69);
    @include mq(md) {
        padding: 0 rem(10.55) 0 rem(80); 
        height: rem(90);
    }
}

.header__phone{
    width: rem(206);
    height: rem(57);
    @include mq(md) {
        width: rem(330);
        height: rem(85);
    }
}

.header__phone a:hover img {
    transform: scale(1.05); /* 画像を10%拡大 */
    transition: transform 0.4s ease; /* なめらかに拡大 */
}
