@use "global" as *;

.main{
    text-align: center;
    @include mq(md) {
        background-color: none;
    }
}

.main__frame{
    position: relative;
    z-index: 9999;
}

.main__container{
    display: flex;
    justify-content: center;
}

.main__content{
    width: 100%;
    background-color: $white;
    @include mq(md){
        width: 75%;
    }
}


.main__aside{
    width: 100%;
    @include mq(md){
        width: 25%;
        background-color: #65C4E8;

    }
}

.main__contact{
    background-color: #65C4E8;

}