@use "global" as *;


.reason-sp__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
}



.reason-sp__item + .reason-sp__item{
    margin-top: rem(60);
}

.reason-sp__number{
    width: rem(161);
    height: rem(116);
}

.reason-sp__title{
    margin-top: rem(-10);
}

.reason-sp__title--margin{
    margin-top: rem(-20);
    width: rem(246);
}

.reason-sp__img{
    width: 94%;
    margin: 0 auto;
}

.reason-sp__img img {
    aspect-ratio: 319/227;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reason-sp__text{
    text-align: left;
    margin-top: rem(40);
    color: #444;
    font-size: rem(16);
    font-weight: $medium;
    line-height: calc(28/16);
}

.reason-sp__text--second{
    margin-top: rem(106);
}


.reason-sp__box{
    margin-top: rem(20);
}

.reason-sp__box--first{
    position: relative;
}

.reason-sp__icon-first{
    position: absolute;
    bottom: -33px;
    left: -3.5%;
    width: rem(110);
    height: rem(110);
}

.reason-sp__box--second{
    position: relative;
}

.reason-sp__icon-second{
    position: absolute;
    bottom: -64px;
    left: 50%;
    transform: translateX(-50%);
    width: rem(342);
    height: rem(163);
}

.reason-sp__box--third{
    position: relative;
}

.reason-sp__icon-third{
    position: absolute;
    bottom: -58px;
    right: 5%;
    width: rem(157);
    height: rem(92);
}

.reason-sp-text{
    width: rem(340);
    height: rem(278);
    margin: rem(76.33) auto 0;
}

.reason-sp__text--five{
    margin: rem(70.33) auto 0;
}