@use "global" as *;


.subsidy-sp{
    max-width: rem(390);
    margin: 0 auto;
}

.subsidy-sp__bg{
    position: relative;
}

.subsidy-sp__bg::before{
    background-image: url('../images/common/subsidy-sp-icon.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    top: rem(164);
    left: calc(50% - min(63%, rem(800)));
    width: rem(245);
    height: rem(168);
    z-index: 1;
}

.subsidy-sp__img{
    width: rem(387);
    height: rem(332);
    margin: 0 auto;
    position: relative;
    z-index: 10;
    
}